:root {
    --tab-bar: #5CB9AD;
    --selected-tab: #32A4A4;
    --light: #F9F6E3;
    --dark: #C8BC9C;
    --critter-name: #FF4875;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
body {
    font-size: 15px;
    background-image: url("../image/acrepeat-blur.jpg");
    background-repeat: repeat;
    background-size: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: #7A7057;
}

a {
    outline: 0;
    justify-content: center;
    display: flex;
 }


#header {
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    font-size: 500%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-5%);
}

#new {
    color: white;
}

#horizons {
    color: #7CC9DD;
}

#page-wrapper {
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

#window-container {
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#datetime-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#time-container {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: baseline;
    line-height: 350%;
}

#time {
    font-size: 500%;
}

#ampm {
    font-size: 250%;
}

#date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
}

#day {
    height: 45px;

}

#date {
    font-size: 250%;
    display: flex;
    text-align: center;
}

.time-divider {
    height: 4px;
    background: white; 
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.oval {
    width: 38%;
    height: 60%;
    background: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


#window-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

#tab-bar {
    background-color: var(--tab-bar);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}

#tabs-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}

#tabs {
    display: flex;
    flex-direction: row;
}

.tab-container {
    border-radius: 10px 10px 0 0;
    background-color: var(--selected-tab);
    padding: 0;
    margin: 0;
    height: 60px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-icon {
    height: 65%;
    width: 65%;
}

#hemisphere-container {
    display: flex;
    background-color: #0B5464;
    border-radius: 15px;
    height: 90%;
    margin: 4px;
}


.hemisphere-icon {
    border: none;
    background-size: cover;
    margin: 5px;
    width: 40px;
    height: 40px;
    outline: none;
}


.data-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 15px 15px 15px 15px;
    background-color:#FAFACF;
}

.search-wrapper {
    background-color: #EEE4CB;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px;
}

.search-box {
    background-color: var(--light);
    color: #C8BC9C;
    border-radius: 5px;
    border-style: solid;
    border-color: #E2DFCE;
    box-shadow: 0px 2px 0px #B7B19B, inset 0px 3px 0px rgba(255, 255, 255, 0.35);
    margin-left: 10px;
    line-height: 125%;
    height: 23px;
}

#page-tab-container {
    display: flex;
    flex-direction: row;
}

#fish-data-wrapper {
    background: #FBF6E3;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}


.data-grid {
    display: grid;
    grid-template-rows: 32% 32% 32%;
    grid-gap: 10px;
}

.name-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    color: #FF4875;
    border-bottom: 1px solid #B7B19B;
    line-height: 125%;
    font-size: 18px;
    padding-bottom: 5px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.critter-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    background: #F9F6E3;
    border: 1px solid #E2DFCE;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px #B7B19B, inset 0px 3px 0px rgba(255, 255, 255, 0.35);
    border-radius: 4px;
    margin: 5px;
}


.critter-icon {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0 0 10em;
    margin-right: 5px;
}

.data-text {
    line-height: 20px;
    font-weight: normal;
}

.data-text-modifier {
    font-size: 75%;
    margin-top: -10%;
}

.critter-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}



.text-container {
    display: flex;
    flex-direction: column;
}

.icon-container {
    display: flex;
    flex-direction: column;
}

.magnify-icon {
    max-width: 20px;
    max-height: 20px;
}

.time-icon {
    max-width: 20px;
    max-height: 20px;
}

.bell-icon {
    max-width: 20px;
    max-height: 20px;
}

.shadow-icon {
    max-width: 20px;
    max-height: 20px;
}

.critter-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.villager-name {
    padding-left: 4px;
    line-height: 135%;
}

.villager-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 28%;
    padding: .5em;
}

.villager-icon {
    width: 50%;
    margin-right: 5px;
}

.villager-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.villager-container {
    display: flex;
    flex-direction: row;
    border: 3px solid #BEB28A;
    border-radius: 6px;
    padding: 3px;
}

.villager-gender-icon {
    width: 10%;
}

.villager-birthday-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.villager-species-container {
    display: flex;
    flex-direction: row;
}

.villager-personality-container {
    display: flex;
    flex-direction: row;
}

.villager-block {
    display: flex;
    justify-content: center;
    align-items: center;
}


.villager-birthday-icon {
    max-width: 20px;
    max-height: 20px;
    padding-right: 3px;
}

.villager-species-icon {
    max-width: 20px;
    max-height: 20px;
    padding-right: 3px;
}

.villager-personality-icon {
    max-width: 20px;
    max-height: 20px;
    padding-right: 3px;
}

