* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  

body {
    font-size: 15px;
    background-image: url("../image/acrepeat.jpg");
    background-repeat: repeat;
    background-size: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: #7A7057;
}

a {
    outline: 0;
 }

#header {
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    font-size: 500%;
}

#new {
    color: white;
}

#horizons {
    color: #7CC9DD;
}

#main-container {
    display:flex;
    flex-direction: column;
}

#window-container {
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#datetime-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#time-container {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: baseline;
    line-height: 350%;
}

#time {
    font-size: 500%;
}

#ampm {
    font-size: 250%;
}

#date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
}

#day {
    font-size: 200%;
    display: flex;
    color: #008B44;
    justify-content: center;
    align-items: center;
}

#date {
    font-size: 250%;
    display: flex;
    text-align: center;
}

.time-divider {
    height: 4px;
    background: white; 
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.oval {
    width: 38%;
    height: 60%;
    background: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


#control-bar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

#tabs {
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
}

#data-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color:#FAFACF;
    border-right: #7A7057;
    border-bottom: #7A7057;
    border-width: 1px;
}



.hemisphere-icon {
    border: none;
    background-size: cover;
    width: 50px;
    height: 50px;
    outline: none;
}

.critter-name {
    padding-left: 4px;
    line-height: 135%;
}

.tab-icon {
    width: 50px;
    height: 50px;
    margin-top: auto;
}

.critter-container {
    display: flex;
    flex-direction: row;
    border: 3px solid #BEB28A;
    border-radius: 6px;
    max-width: 240px;
    max-height: 350px;
    padding: 3px;
}

.critter-wrapper {
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.critter-icon {
    width: 50%;
    margin-right: 5px;
}

.critter-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
}

.location-container {
    display: flex;
    flex-direction: row;

}

.magnify-icon {
    padding-right: 2px;
    max-width: 20px;
    max-height: 20px;
}

.price-container {
    display: flex;
    flex-direction: row;

}

.bell-icon {
    padding-right: 2px;
    max-width: 20px;
    max-height: 20px;
}

.critter-block {
    display: flex;
    justify-content: center;
    align-items: center;
}