:root {
    --tab-bar: #5CB9AD;
    --selected-tab: #32A4A4;
    --light: #F9F6E3;
    --dark: #C8BC9C;
    --critter-name: #FF4875;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
body {
    font-size: 15px;
    background-image: url("../image/acrepeat-blur.jpg");
    background-repeat: repeat;
    background-size: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: #7A7057;
}

a {
    outline: 0;
    justify-content: center;
    display: flex;
    height: 100%;
    align-content: center;
 }

 a object{
    pointer-events: none;
  }

#header {
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    font-size: 500%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-5%);
}

#new {
    color: white;
}

#horizons {
    color: #7CC9DD;
}

#page-wrapper {
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

#window-wrapper {
    border-radius: 10px 10px 10px 10px;
}

#login-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#datetime-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#time-container {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: baseline;
    line-height: 350%;
}

.time-container-mod {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    line-height: 350%;
}

#time {
    font-size: 500%;
}

#ampm {
    font-size: 250%;
}

#date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
}

#day {
    height: 45px;

}

#date {
    font-size: 250%;
    display: flex;
    text-align: center;
}

.time-divider {
    height: 4px;
    background: white; 
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



#window-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

#tab-bar {
    background-color: var(--tab-bar);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
}

#tabs-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: auto;
}

#tabs {
    display: flex;
    flex-direction: row;
}

.tab-container {
    border-radius: 10px 10px 0 0;
    background-color: var(--selected-tab);
    padding: 0;
    margin: 0;
    height: 60px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-icon {
    height: 100%;
    width: 65%;
}

#filter-wrapper {
    display: flex;
    flex-direction: row;
    height: 50%;
    align-self: center;
    color: white;
}

._caught_filter  {
    display: none !important;
}

._all_filter {
    display: none !important;
}

._search_filter {
    display: none !important;
}

.checkbox {
    -webkit-appearance: none;
    background-color: white;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    padding-left: 4px;
}

.checkbox-text {
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    margin: auto;
}

.checkbox:active, .checkbox:checked:active {
	border-radius: 5px;
}

.checkbox:checked {
	border-radius: 5px;
}

.checkbox:checked:after {
    color: var(--tab-bar);
    content: '\2714';
	border-radius: 5px;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-right: 20px;
}

#hemisphere-container {
    display: flex;
    background-color: #0B5464;
    border-radius: 15px;
    height: 90%;
    margin: 4px;
}

.hemisphere-icon {
    border: none;
    background-size: cover;
    margin: 5px;
    width: 40px;
    height: 40px;
    outline: none;
}

.timer-title {
    color: #4e4b3a;
    font-size: 150%;
    margin: 5px;
}

.timer-time {
    color: white;
    font-size: 150%;
    background-color: #c1b996;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    line-height: 150%;
}

#chores-timer-wrapper {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
}

#turnip-timer-wrapper {
    display: flex;
    flex-direction: row;
}




.title-wrapper {
    color: var(--critter-name);
    font-size: 200%;
    margin: 5px;
    border-bottom: 2px solid #B7B19B;
}

.data-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color:#FBF6E3;
}

.search-wrapper {
    background-color: #EEE4CB;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px;
}

.search-box {
    background-color: var(--light);
    color: #C8BC9C;
    border-radius: 5px;
    border-style: solid;
    border-color: #E2DFCE;
    box-shadow: 0px 2px 0px #B7B19B, inset 0px 3px 0px rgba(255, 255, 255, 0.35);
    margin-left: 10px;
    line-height: 125%;
    height: 23px;
}

#page-tab-container {
    display: flex;
    flex-direction: row;
}

.wrapper-skeleton {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F9F6E3;
    border: 1px solid #E2DFCE;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px #B7B19B, inset 0px 3px 0px rgba(255, 255, 255, 0.35);
    border-radius: 4px;
    margin: 5px;
    width: 350px;
    height: 130px;
    cursor: pointer;
}

.image-skeleton {
    height: 100px;
    width: 100px;
    margin: 30px 20px 30px 20px;
    background-color: #E2DFCE;
    margin-right: 10px;
    border-radius: 50px;
}

.name-skeleton {
    height: 20px;
    width: 70%;
    background: #FF4875;
    border-radius: 20px;
    opacity: 50%;
}

.data-container-skeleton {
    display: flex;
    flex-direction: row;
}

.icon-skeleton {
    background: #E2DFCE;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    margin-right: 5px;
}

.text-skeleton {
    height: 15px;
    width: 75%;
    background: #E2DFCE;
    border-radius: 5px;
    opacity: 50%;
    margin-top: 3px;
}

.data-container {
    background-color: var(--light);
    padding: 5px 5px 5px 5px;
    border-radius: 0 0 10px 10px;
}


@media (orientation: landscape) {
    .critter-divider {
        height: 1px;
        background: #B7B19B;
        width: 200px;
        margin-bottom: 5px;
    }
}

@media (orientation: portrait) {
    .critter-divider {
        height: 1px;
        background: #B7B19B;
        width: 97%;
        margin-bottom: 5px;
    }
}

@media (orientation: landscape) {
    .data-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
}

@media (orientation: portrait) {
    .data-grid {
        font-size: 30px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 10px;
    }
}



.text-animation {
    animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: linear-gradient(to right,  #E2DFCE 40%, rgb(246, 243, 225) 50%, #E2DFCE 40%);
    background-color: #E2DFCE;
      background-repeat: no-repeat;
      background-size: 3000px 160px;
    transform: translate3d(0, 0, 0);
    transition: all .4s ease-in-out;
    border-radius: 30px;
  }
  
  .name-animation {
    animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: linear-gradient(to right,  #FF4875 40%, rgb(253, 101, 139) 50%, #FF4875 40%);
    background-color: #FF4875;
      background-repeat: no-repeat;
      background-size: 3000px 160px;
    transform: translate3d(0, 0, 0);
    transition: all .4s ease-in-out;
    border-radius: 30px;
  }
  
  @keyframes placeHolderShimmer{
      0% {
          background-position: -1700px 0;
      }
      100% {
          background-position: 0px 0;
      }
  }

@media (orientation: landscape) {
    .name-container {
        display: flex;
        flex-direction: row;
        color: #FF4875;
        line-height: 125%;
        font-size: 18px;
        padding-bottom: 5px;
        width: 100%;
        justify-content: space-between;
    }
}

@media (orientation: portrait) {
    .name-container {
        display: flex;
        flex-direction: row;
        color: #FF4875;
        line-height: 125%;
        font-size: 30px;
        padding-bottom: 5px;
        width: 100%;
        justify-content: space-between;
        padding-top: 10px;
    }
}

@media (orientation: landscape) {
    .icon-text {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media (orientation: portrait) {
    .icon-text {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 25%;
    }

    .shadow {
        padding-left: 20px;
    }
}

.chore-title {
    position: absolute;
    color: white;
    left: 0;
    top: 75%;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 50%;
    text-align: center;
    background: #5CB9AD;
    border-radius: 20px;
    height: 10%;
    font-size: 20px;
}

.chore-title-container {
    position: absolute;
    color: var(--critter-name);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
}

.progress-circle {
    position: absolute;
    height: 190px;
    width: 190px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.chore-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.chore-wrapper-ticked{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 15px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background: #E2DFCE;
    border: 1px solid #B7B19B;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px #B7B19B, inset 0px 3px 0px rgba(255, 255, 255, 0.35), inset 0px 3px 0px #96917F;
    border-radius: 4px;
    opacity: 40%;
}

.chores-wrapper {

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background: #F9F6E3;
    border-radius: 4px;
    margin: 0px;
    padding-left: 0;
}

.chore-wrapper {
    background-image: url("../image/circlebase.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 15px;
    cursor: pointer;
    height: 300px;
    width: 300px;
}

.chores-container {
    height: 300px;
    width: 300px;
}


@media (orientation: landscape) {
    .critter-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #F9F6E3;
        border: 1px solid #E2DFCE;
        box-sizing: border-box;
        box-shadow: 0px 2px 0px #B7B19B, inset 0px 3px 0px rgba(255, 255, 255, 0.35);
        border-radius: 4px;
        margin: 5px;
        width: 350px;
        cursor: pointer;
    }
}

@media (orientation: portrait) {
    .critter-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #F9F6E3;
        border: 1px solid #E2DFCE;
        box-sizing: border-box;
        box-shadow: 0px 2px 0px #B7B19B, inset 0px 3px 0px rgba(255, 255, 255, 0.35);
        border-radius: 4px;
        margin: 5px;
        width: 90%;
        cursor: pointer;
    }
}

.critter-wrapper-checked {
    background: #E2DFCE;
    border: 1px solid #B7B19B;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px #B7B19B, inset 0px 3px 0px rgba(255, 255, 255, 0.35), inset 0px 3px 0px #96917F;
    border-radius: 4px;
    opacity: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    width: 350px;
    cursor: pointer;
}

@media (orientation: landscape) {
    .critter-icon {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 0 0 10em;
        margin-right: 5px;
        height: 128px;
        width: 128px;
    }
}

@media (orientation: portrait) {
    .critter-icon {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 0 0 10em;
        margin-right: 5px;
        height: 110px;
        width: 110px;
    }
}



.data-text {
    line-height: 20px;
    font-weight: normal;
}

.data-text-modifier {
    font-size: 75%;
    margin-top: -5%;
}

@media (orientation: landscape) {
    .critter-data {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
    }
}

@media (orientation: portrait) {
    .critter-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;
        height: 100%;
    }
}



.text-container {
    display: flex;
    flex-direction: column;
}

.icon-container {
    display: flex;
    flex-direction: column;
}


@media (orientation: landscape) {
    .icon {
        max-width: 20px;
        max-height: 20px;
    }
}

@media (orientation: portrait) {
    .icon {
        max-width: 30px;
        max-height: 30px;
    }
}



.critter-block {
    display: flex;
    justify-content: center;
    align-items: center;
}


.villager-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 28%;
    padding: .5em;
}

.villager-icon {
    width: 50%;
    margin-right: 5px;
}

.villager-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.villager-container {
    display: flex;
    flex-direction: row;
    border: 3px solid #BEB28A;
    border-radius: 6px;
    padding: 3px;
}

.villager-gender-icon {
    height: 15px;
    align-self: center;
}

.villager-birthday-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.villager-species-container {
    display: flex;
    flex-direction: row;
}

.villager-personality-container {
    display: flex;
    flex-direction: row;
}

.villager-block {
    display: flex;
    justify-content: center;
    align-items: center;
}


.villager-birthday-icon {
    max-width: 20px;
    max-height: 20px;
    padding-right: 3px;
}

.villager-species-icon {
    max-width: 20px;
    max-height: 20px;
    padding-right: 3px;
}

.villager-personality-icon {
    max-width: 20px;
    max-height: 20px;
    padding-right: 3px;
}

