<!DOCTYPE html>
<html>
    <head>
        <title>Animal Crossing</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-auth.js"></script>
      
        <script>
            var firebaseConfig = {
                apiKey: "AIzaSyCXghbVFFQiDpwJHHZpfT26RQD8mFG9mSU",
                authDomain: "ac-guide-801f0.firebaseapp.com",
                databaseURL: "https://ac-guide-801f0.firebaseio.com",
                projectId: "ac-guide-801f0",
                storageBucket: "ac-guide-801f0.appspot.com",
                messagingSenderId: "24150608369",
                appId: "1:24150608369:web:89ac123c19f7b128eb9c50",
                measurementId: "G-Y03T79NKLT"
            };
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
          </script>
        
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/progressbar.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>

        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet"> 
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
        <link rel="manifest" href="static/site.webmanifest">
        <link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="initial-scale=1">

    </head>
    <body>
        <div id="page-wrapper">
            <div id="login-container">
                <a href="{{ url_for('login') }}" id="login-link">Login</a>
                <a href=# id="logout" style="display:none">Logout</a>
            </div>
            <div id="header-container">
                <div id="datetime-container">
                    <div id="time-container">
                        <div class="time-style" id="time">0:00</div>
                        <div class="time-style" id="ampm">AM</div>
                    </div>
                    <div class="time-divider"></div>
                    <div id="date-container">
                        <object id="day"></object>
                        <div id="date">01 Jan</div>
                    </div>
                </div>
                <div id="header"><span id="new">New</span><span id="horizons">Horizons</span></div>
            </div>
            <div id="window-wrapper">
                <div id="tab-bar">
                    <div id="tabs-container">
                        <div id="chores-container" class="tab-container" style="background-color: #5CB9AD;">
                            <object class="tab-icon" id="chores-icon" data="{{ url_for('static', filename = 'image/bar/clipboard.svg') }}" style="opacity: 0.5;"></object>
                        </div>
                        <div id="fish-container" class="tab-container">
                            <object class="tab-icon" id="fish-icon" data="{{ url_for('static', filename = 'image/bar/fish.svg') }}" ></object>
                        </div>
                        <div id="bugs-container" class="tab-container" style="background-color: #5CB9AD;">
                            <object class="tab-icon" id="bugs-icon" data="{{ url_for('static', filename = 'image/bar/butterfly.svg') }}" style="opacity: 0.5;"></object>
                        </div>
                        <div id="villagers-container" class="tab-container" style="background-color: #5CB9AD;">
                            <object class="tab-icon" id="villager-icon" data="{{ url_for('static', filename = 'image/bar/cake.svg') }}" style="opacity: 0.5"></object>
                        </div>
                    </div>
                    <div id="filter-wrapper">
                        <div id="available-toggle-wrapper" class="checkbox-wrapper">
                            <input type="checkbox" id="availiable-checkbox" class="checkbox">
                            <div class="checkbox-text">Show Only Availiable</div>
                        </div>
                        <div id="ticked-toggle-wrapper" class="checkbox-wrapper">
                            <input type="checkbox" id="caught-checkbox" class="checkbox">
                            <div class="checkbox-text">Hide Caught</div>
                        </div>
                    </div>
                    <div id="hemisphere-container">
                        <a href=# id="hemisphere-button">
                            <img class="hemisphere-icon" id="nhemisphere-icon" src="{{ url_for('static', filename = 'image/hemispheres/nhem-small.png') }}" style="display:block;">
                            <img class="hemisphere-icon" id="shemisphere-icon" src="{{ url_for('static', filename = 'image/hemispheres/shem-small.png') }}">
                        </a>
                    </div>
                </div>
                <div class="search-wrapper">
                    <div id="search-icon"></div>
                    <input type="text" class="search-box" id="search" placeholder="  Search...">
                    <div id="chores-timer-wrapper" style="display: none">
                        <div id="chores-title" class="timer-title">Daily Chores:</div>
                        <div id="chores-time" class="timer-time"></div>
                    </div>
                </div>
                <div id="chores-tab" class="data-container" style="display:none;">
                    <div id="chores-data-wrapper" class="data-wrapper">
                        <div id="rocks-wrapper" class="chores-container">
                            <div id="rock-wrapper" class="chore-wrapper">
                                <div class="progress-circle" id="rock"></div>
                                <div id ="rock-title-container" class="chore-title-container">
                                    <div id="rock-title" class="chore-title">Smash Rocks</div>
                                </div>
                            </div>
                        </div>

                            <div id="money-rock-wrapper" class="chore-wrapper">
                                <div class="progress-circle" id="money-rock"></div>
                                <div id ="rock-title-container" class="chore-title-container">
                                    <div id="rock-title" class="chore-title">Money Rock</div>
                                </div>
                            </div>
                            <div id="fossils-wrapper" class="chore-wrapper">
                                <div class="progress-circle" id="fossils"></div>
                                <div id ="fossil-title-container" class="chore-title-container">
                                    <div id="fossil-title" class="chore-title">Find Fossils</div>
                                </div>
                            </div>
                            <div id="bottles-wrapper" class="chore-wrapper">
                                <div class="progress-circle" id="bottle"></div>
                                <div id ="bottle-title-container" class="chore-title-container">
                                    <div id="bottle-title" class="chore-title">DIY Recipe</div>
                                </div>
                            </div>
                            <div id="crack-wrapper" class="chore-wrapper">
                                <div class="progress-circle" id="crack"></div>
                                <div id ="crack-title-container" class="chore-title-container">
                                    <div id="crack-title" class="chore-title">Find The Glow!</div>
                                </div>
                            </div>
                            <div id="turnips-wrapper" class="chore-wrapper">
                                <div id="turnip-timer-wrapper">
                                    <div id="turnip-title" class="timer-title">New Price In:</div>
                                    <div id="turnip-time" class="timer-time"></div>
                                </div>
                                <div class="progress-circle" id="turnips"></div>
                                <div id ="turnips-title-container" class="chore-title-container">
                                    <div id="turnips-title" class="chore-title">Turnip Prices</div>
                                </div>
                            </div>
                    </div>
                </div>
                <div id="fish-tab" class="data-container">
                    <div id="fish-data-wrapper" class="data-wrapper">
                    </div>
                </div>
                <div id="bugs-tab" class="data-container" style="display: none;">
                    <div id="bugs-data-wrapper" class="data-wrapper"></div>
                </div>
                <div id="villagers-tab" class="data-container" style="display: none;">
                    <div id="villagers-data-wrapper" class="data-wrapper"></div>
                </div>
                <div id="tab-mobile-bar">
                    <div id="chores-container" class="tab-mobile-container" style="background-color: #5CB9AD;">
                        <object class="tab-mobile-icon" id="chores-icon" data="{{ url_for('static', filename = 'image/bar/clipboard.svg') }}" style="opacity: 0.5;"></object>
                    </div>
                    <div id="fish-container" class="tab-mobile-container">
                        <object class="tab-mobile-icon" id="fish-icon" data="{{ url_for('static', filename = 'image/bar/fish.svg') }}" ></object>
                    </div>
                    <div id="bugs-container" class="tab-mobile-container" style="background-color: #5CB9AD;">
                        <object class="tab-mobile-icon" id="bugs-icon" data="{{ url_for('static', filename = 'image/bar/butterfly.svg') }}" style="opacity: 0.5;"></object>
                    </div>
                    <div id="villagers-container" class="tab-mobile-container" style="background-color: #5CB9AD;">
                            <object class="tab-mobile-icon" id="villager-icon" data="{{ url_for('static', filename = 'image/bar/cake.svg') }}" style="opacity: 0.5"></object>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
