<!DOCTYPE html>
<html>
    <head>
        <title>Animal Crossing</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-auth.js"></script>
      
        <script>
            var firebaseConfig = {
                apiKey: "AIzaSyCXghbVFFQiDpwJHHZpfT26RQD8mFG9mSU",
                authDomain: "ac-guide-801f0.firebaseapp.com",
                databaseURL: "https://ac-guide-801f0.firebaseio.com",
                projectId: "ac-guide-801f0",
                storageBucket: "ac-guide-801f0.appspot.com",
                messagingSenderId: "24150608369",
                appId: "1:24150608369:web:89ac123c19f7b128eb9c50",
                measurementId: "G-Y03T79NKLT"
            };
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
          </script>
        

        <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.4.1.js') }}"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div id="page-wrapper">
            <div id="login-container">
                <a href="{{ url_for('login') }}" id="login-link">Login</a>
                <a href=# id="logout" style="display:none">Logout</a>
            </div>
            <div id="header-container">
                <div id="datetime-container">
                    <div id="time-container">
                        <div class="time-style" id="time"></div>
                        <div class="time-style" id="ampm"></div>
                    </div>
                    <div class="time-divider"></div>
                    <div id="date-container">
                        <object id="day"></object>
                        <div id="date"></div>
                    </div>
                </div>
                <div id="header"><span id="new">New</span><span id="horizons">Horizons</span></div>
            </div>
            <div id="window-wrapper">
                <div id="tab-bar">
                    <div id="tabs-container">
                        <div id="fish-container" class="tab-container">
                            <a href=# id="fish-button">
                                <object class="tab-icon" id="fish-icon" data="{{ url_for('static', filename = 'image/bar/fish.svg') }}" ></object>
                            </a>
                        </div>
                        <div id="bugs-container" class="tab-container" style="background-color: #5CB9AD;">
                            <a href=# id="bugs-button">
                                <object class="tab-icon" id="bugs-icon" data="{{ url_for('static', filename = 'image/bar/butterfly.svg') }}" style="opacity: 0.5;"></object>
                            </a>
                        </div>
                        <div id="villagers-container" class="tab-container" style="background-color: #5CB9AD;">
                            <a href=# id="villagers-button">
                                <object class="tab-icon" id="villager-icon" data="{{ url_for('static', filename = 'image/bar/cake.svg') }}" style="opacity: 0.5"></object>
                            </a>
                        </div>
                    </div>
                    <div id="filter-wrapper">
                        <div id="available-toggle-wrapper" class="checkbox-wrapper">
                            <input type="checkbox" id="availiable-checkbox" class="checkbox">
                            <div class="checkbox-text">Show Only Availiable</div>
                        </div>
                        <div id="ticked-toggle-wrapper" class="checkbox-wrapper">
                            <input type="checkbox" id="caught-checkbox" class="checkbox">
                            <div class="checkbox-text">Hide Caught</div>
                        </div>
                    </div>
                    <div id="hemisphere-container">
                        <a href=# id="hemisphere-button">
                            <img class="hemisphere-icon" id="nhemisphere-icon" src="{{ url_for('static', filename = 'image/hemispheres/nhem-small.png') }}" style="display:block;">
                            <img class="hemisphere-icon" id="shemisphere-icon" src="{{ url_for('static', filename = 'image/hemispheres/shem-small.png') }}">
                        </a>
                    </div>
                </div>
                <div class="search-wrapper">
                    <input type="text" class="search-box" id="search" placeholder="  Search...">
                </div>
                <div id="fish-tab" class="data-container">
                    <div id="fish-data-wrapper" class="data-wrapper"></div>
                </div>
                <div id="bugs-tab" class="data-container" style="display: none;">
                    <div id="bugs-data-wrapper" class="data-wrapper"></div>
                </div>
                <div id="villagers-tab" class="data-container" style="display: none;">
                    <div id="villagers-data-wrapper" class="data-wrapper"></div>
                </div>
            </div>
        </div>
    </body>
</html>
